html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: PT Serif, serif;
    margin: 3em;
    background-color: #e8e8e8;
}

a {
    color: #5d5fff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #5052dd;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner {
    width: 85%;
}

.section-content {
    font-size: 18px;
}

.section-header {
    display: flex;
    align-items: center;
}

.header-marker {
    width: 10px;
    height: 10px;
    background-color: #5d5fff;
    margin-right: 15px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
}

.photo-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 2px solid #bcbcbc;
}

.photo-caption {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.inline-photo {
    padding: 10px;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project-card {
    color: #000000;
    padding: 18px;
    border-radius: 18px;
    background-color: #ffffff;
    background-image: linear-gradient(#5d5fff, #5d5fff);
    background-repeat: no-repeat;
    background-size: 0 100%;
    background-position: left;
    border: 2px solid #bcbcbc;

    transition: background-size 0.2s ease-in-out;
}

.project-card:hover {
    background-size: 100% 100%;
    color: #ffffff;
    border: 2px solid #5d5fff;
}

.project-description {
    font-size: 16px;
    font-weight: normal;
}

.footer {
    display: flex;
    font-size: 18px;
    color: #838383;
}

.footer span {
    margin-left: auto;
}