html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: PT Serif, serif;
    margin: 3em;
    background-color: #e8e8e8;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner {
    width: 85%;
}

.navbar {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    border-bottom: 1.5px solid;
}

.navbar-title {
    text-decoration: none;
    color: #000000;
    padding: 4px;
}

.navbar-links {
    margin-left: auto;
}

.navbar-link {
    text-decoration: none;
    color: #000000;
    padding: 4px;
    box-shadow: inset 0 0px 0 -1px #144398;
    transition: box-shadow .20s ease-in-out;
    line-height: 40px;
}

.navbar-link:hover {
    box-shadow: inset 0 -40px 0 -1px #144398;
    color: #e8e8e8;
}

.navbar-link-active {
    text-decoration: none;
    background-color: #144398;
    color: #e8e8e8;
    padding: 4px;
}

.content-link {
    color: #144398;
}

.photos-array {
    display: flex;
    flex-wrap: wrap;
}

.photo-item {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.photo-item img {
    border: 1.5px solid;
    width: 100%;
}

.photo-caption {
    font-size: 12px;
    font-style: italic;
}