html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    font-size: 18px;
    margin: 0;
    color: #000000;
    height: 100%;
}

.dark {
    background: #1b1b1b;
    color: #ffff;
}

.header {
    display: flex;
    padding: 30px;
    height: 20%;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-wrapper a {
    text-decoration: none;
    margin-right: 4em;
    color: #000000;
}

.action-button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

a {
    text-underline-offset: 3.5px;
}

a:hover {
    text-decoration: underline;
}

.page {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 100%;
}

.title-wrapper {
    padding: 5px;
}

.title {
    color: #ff3f3f;
    font-size: 48px;
}

.profile-picture {
    border-radius: 100%;
}