html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Inter, sans-serif;
    font-size: 18px;
    margin: 0;
    color: #000000;
}

.dark {
    background: #1b1b1b;
    color: #ffff;
}

.header {
    display: flex;
    padding: 30px;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-wrapper a {
    margin-right: 4em;
    color: #000000;
}

.icon-button {
    background: none;
    border: none;
}

.action-button {
    background: #ff3f3f;
    color: #ffff;
    padding: 0.75em 1em;
    text-decoration: none;
    border-radius: 50px;
}

.action-button:hover {
    background: #d33333;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    text-underline-offset: 3.5px;
}

a:hover {
    text-decoration: underline;
}

.title-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vw;
}

.title-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vw;
    width: 100%;
}

.title-wrapper {
    padding: 5px;
}

.title {
    color: #ff3f3f;
    font-size: 48px;
}

.title-sub {
    margin-bottom: 2.25em;
}

.content-wrapper {
    width: 60%;
}

.profile-picture {
    border-radius: 26px;
}