html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    font-size: 18px;
    margin: 0;
}

.dark {
    background: #1b1b1b;
    color: #ffff;
}

.header {
    display: flex;
    padding: 30px;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-wrapper a {
    text-decoration: none;
    color: #ffff;
    margin-right: 4em;
}

.action-button {
    background: none;
    border: none;
    color: #ffff;
}

button:hover {
    cursor: pointer;
}

a {
    text-underline-offset: 3.5px;
}

a:hover {
    text-decoration: underline;
}