html {
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    font-size: 18px;
    margin: 0;
    background: #1b1b1b;
    color: #ffff;
}

.page {
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-container {
    max-width: 75vw;
}

.content-title {
    font-size: 64px;
    margin: 0px;
}

.content-description {
    text-align: left;
}

.profile {
    border-radius: 100%;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.nav-buttons {
    display: flex;
}

.nav-button {
    color: #ffff;
    font-weight: 600;
    background: #1b1b1b;
    padding: 0.5em;
    border-radius: 60px;
    margin-right: 0.5em;
    text-decoration: none;
}

.nav-button:hover {
    color: #1b1b1b;
    background: #ffff;
}